<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.themeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="signup-banner">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="my-card mt-3">
                <h2 class="text-center font-weight-bold signup-banner-text">SignUp here</h2>
                <br/>
                <form action="" th:action="@{/smart-contact-manager/do_register}" method="post" th:object="${user}">

                    <!--Name field-->
                    <div class="form-group">
                        <label for="name_field" class="signup-text">Your Name</label>
                        <input type="text" name="name" class="form-control" id="name_field" aria-describedby="name_field"
                        placeholder="enter name" th:value="${user.name}"/>
                    </div>

                    <!--email field-->
                    <div class="form-group">
                        <label for="email_field" class="signup-text">Email</label>
                        <input type="email" name="email" class="form-control" id="email_field" aria-describedby="email_field"
                               placeholder="enter email address" th:value="${user.email}"/>
                    </div>

                    <!--Password field-->
                    <div class="form-group">
                        <label for="password_field" class="signup-text">Password</label>
                        <input type="password" name="password" class="form-control" id="password_field" aria-describedby="password_field"
                               placeholder="enter password"/>
                    </div>

                    <!--Password field-->
                    <div class="form-group">
                        <label for="password_field_1" class="signup-text">Confirm Password</label>
                        <input type="password" class="form-control" id="password_field_1" aria-describedby="password_field_1"
                               placeholder="enter password"/>
                    </div>

                    <!--checkbox field-->
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="agreement" name="agreement"/>
                        <label for="agreement" style="color:black">Accept terms and conditions to continue</label>
                    </div>
                    <button type="submit" class="btn btn-primary button-text">Register</button>
                    <button type="reset" class="btn btn-warning button-text">Reset</button>

                </form>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>